<!--The content below is only a placeholder and can be replaced.-->
<form (submit)="search (searchInput.value)">
  <input type = "text"
  #searchInput
  />
    <table *ngIf="currentSearchRes">
      <thead>
        <th>Poster</th>
        <th>Titre</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let movie of currentSearchRes.results">
         <!-- <app-movie [movieid]="movie.id"></app-movie>-->
          <nav>
            <a routerLink="/movie">Movie</a>
          </nav>
        </tr>
      </tbody>
    </table>
</form>
